.container {
  width: 100%;
  overflow-x: hidden;

  .header {
    position: relative;
    width: 100%;
    height: 592px;
    background: linear-gradient(73.53deg, #11111b 4.61%, #273364 100%);

    .nav {
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding: 0 15%;
      height: 76px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .title {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 auto;
      padding: 0 15%;
      height: 76px;
      box-sizing: border-box;
      position: absolute;
      top: 200px;
      left: 0;

      .desc {
        margin-top: 30px;
        font-weight: 400;
        font-size: 30px;
        line-height: 160%;
        color: #ebeef5;
      }
      .btn-group {
        margin-top: 30px;
        width: 484px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 15px 42px;
          gap: 10px;
          width: 80px;
          height: 24px;
          border-radius: 28px;
          text-decoration: none;
        }
        .primary {
          background: #1aafff;
          color: white;
          margin-right: 30px;
        }
        .secondary {
          background: transparent;
          border: 1px solid #1aafff;
          color: #1aafff;
        }
      }
    }
    .wallet {
      position: absolute;
      top: 130px;
      right: 20%;
    }
  }

  .benefit {
    margin-top: 200px;
    padding: 0 15%;

    .benefit-title {
      font-weight: 600;
      font-size: 36px;
      line-height: 140%;
      text-align: center;
      color: #000000;
      margin-bottom: 40px;
    }
    .benefit-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 36px;
      flex-wrap: wrap;
      width: 100%;

      .benefit-item {
        &:hover {
          background-color: #eff8fc;
        }
        padding: 0 30px;
        width: 450px;
        height: 188px;
        background: #ffffff;
        border-radius: 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .benefit-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          max-width: 458px;

          .content-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            color: #000000;
          }
        }
      }
    }
  }

  .dapp {
    margin-top: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0 15%;

    .dapp-left {
      gap: 24px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .dapp-right {
      max-width: 487px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        text-align: center;
        color: #000000;
      }
      .desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #303133;
      }
    }
  }

  .compatible {
    padding: 0 15%;
    margin-top: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .compatible-left {
      max-width: 487px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        text-align: center;
        color: #000000;
      }
      .desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #303133;
      }
    }
  }

  .join {
    margin-top: 144px;
    padding: 0 15%;

    gap: 180px;
    .join-title {
      font-weight: 600;
      font-size: 36px;
      line-height: 140%;
      text-align: center;
      color: #000000;
    }
    .btn-group {
      gap: 30px;
      margin-top: 50px;
      margin-bottom: 150px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #498cb0;
    box-sizing: border-box;
    margin: 0 auto;
    gap: 500px;
    padding: 3% 15%;

    .logo {
      p {
        margin-top: 90px;
      }
    }

    .a_list {
      width: 465px;
      display: flex;
      justify-content: space-between;

      p {
        font-size: 18px;
        color: #0b4767;
        margin-bottom: 36px;
        font-weight: bold;
      }

      .item {
        a {
          display: block;
          font-size: 16px;
          color: #606266;
          margin-bottom: 24px;
        }
      }
    }

    .share {
      a {
        display: block;
        width: 86px;
        height: 28px;
        background: #ffffff;
        border-radius: 4px;
        padding-left: 27px;
        margin-top: 20px;
        line-height: 28px;
        box-sizing: border-box;
        font-size: 14px;
        color: #1aafff;
        position: relative;

        &::before {
          width: 17px;
          height: 17px;
          content: '';
          background: url('../public/share.png');
          background-size: 100%;
          position: absolute;
          top: 6px;
          left: 7px;
        }
        &:nth-child(2)::before {
          background: url('../public/twitter.png') no-repeat;
          background-size: 100%;
        }
        &:nth-child(3)::before {
          background: url('../public/discord.png') no-repeat;
          background-size: 100%;
          top: 10px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {

}

@media (max-width: 530px) {

}

@media (max-width: 460px) {
  .header {
    .title {
      img{
        width: 300px!important;
      }

      .desc {
        width: 300px!important;
        font-size: 24px!important;
      }
      .btn-group {
        width: 300px!important;

        a {
          gap: 10px;
          width: 70px!important;
          height: 16px!important;
        }
      }
    }
    .wallet {
      top: 430px!important;
      right: 20%!important;
      width: 60%!important;
    }
  }

  .benefit {
    margin-top: 250px!important;
    padding: 0 5%!important;

    .benefit-title {
      font-size: 30px!important;
      margin-bottom: 40px;
    }
    .benefit-items {
      gap: 24px!important;

      .benefit-item {
        &:hover {
          background-color: #eff8fc;
        }
        padding: 0 5%!important;
        width: 90%!important;
        height: 144px!important;

        img{
          width: 80px;
          height: auto;
        }

        .benefit-content {
          gap: 12px!important;
          .content-title {
            font-weight: 500;
            font-size: 18px!important;
            line-height: 100%;
            color: #000000;
          }
          .content-desc{
            font-size: 13px;
          }
        }
      }
    }
  }

  .dapp {
    margin-top: 50px!important;
    gap: 70px;
    padding: 0 15%;
    flex-direction: column-reverse!important;

    .dapp-left {
      gap: 12px!important;
      img{
        width: 170px!important;
      }
    }
    .dapp-right {
      .title {
        font-size: 24px!important;
      }
      .desc {
        font-size: 14px!important;
      }
    }
  }

  .compatible {
    padding: 0 15%;
    margin-top: 94px!important;
    flex-direction: column!important;
    gap: 50px!important;

    .compatible-left {
      max-width: 487px;

      .title {
        font-size: 24px!important;
      }
      .desc {
        font-size: 14px!important;
      }
    }

    .compatible-right{
      img{
        width: 370px!important;
      }
    }
  }

  .join {
    margin-top: 74px!important;
    gap: 90px!important;

    .join-title {
      font-size: 24px!important;
      color: #000000;
    }
    .btn-group {
      gap: 20px!important;
      margin: 50px 0!important;
      flex-direction: column!important;

      a{
        width: 370px!important;
        img{
          width: 370px!important;
        }
      }
    }
  }

  .footer {
    flex-direction: column!important;
    border-top: 1px solid #498cb0;
    margin: 0 auto;
    margin-bottom: 130px!important;
    gap: 20px!important;
    padding: 3% 5%!important;
    align-items: flex-start!important;

    .copyright{
      width: 100%;
      text-align: center;
      display: block!important;
      font-weight: 300;
      font-size: 13px!important;
      line-height: 100%;
      color: #909399;
    }

    .logo {
      .copyright {
        display: none!important;
      }
    }

    .a_list {
      width: 90%!important;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      p {
        font-size: 18px;
        color: #0b4767;
        margin-bottom: 36px;
        font-weight: bold;
      }

      .item {
        a {
          font-size: 14px!important;
          margin-bottom: 12px!important;
        }
      }
    }

    .share {
      a {
        display: block;
        width: 86px;
        height: 28px;
        background: #ffffff;
        border-radius: 4px;
        padding-left: 27px;
        margin-top: 20px;
        line-height: 28px;
        box-sizing: border-box;
        font-size: 14px;
        color: #1aafff;
        position: relative;

        &::before {
          width: 17px;
          height: 17px;
          content: '';
          background: url('../public/share.png');
          background-size: 100%;
          position: absolute;
          top: 6px;
          left: 7px;
        }
        &:nth-child(2)::before {
          background: url('../public/twitter.png') no-repeat;
          background-size: 100%;
        }
        &:nth-child(3)::before {
          background: url('../public/discord.png') no-repeat;
          background-size: 100%;
          top: 10px;
        }
      }
    }
  }
}
